fastapi
uvicorn[standard]
python-dotenv
openai
langchain
langchain-openai
langchain-community
langchain-text-splitters
langchain-google-genai
langgraph
azure-search-documents
azure-core
pydantic
pymupdf
python-multipart
aiofiles
google-generativeai
email-validator
asyncpg
psycopg2-binary
azure-ai-formrecognizer
pillow
pytesseract
unstructured
pandas
openpyxl
python-docx
python-pptx
